div { 
width: 250px;
height: 200px;
padding: 20px;
margin: 15px;
}
.block1{
  background-color: blue;
}
.block2{
  background-color: green;
}
.block3{
  background-color:red;
}
p{
  color: white; 
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.hide{
  display:none;
}
